In [1]:
import pandas as pd
import json

In [2]:
df_categories = pd.read_csv('hs_categories_classification.csv', delimiter=';', dtype=str)
df_categories.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>code</th>
      <th>short_description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01</td>
      <td>ANIMALS; LIVE</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0101</td>
      <td>Horses, asses, mules and hinnies; live</td>
    </tr>
    <tr>
      <th>2</th>
      <td>010121</td>
      <td>Horses; live, pure-bred breeding animals</td>
    </tr>
    <tr>
      <th>3</th>
      <td>010129</td>
      <td>Horses; live, other than pure-bred breeding an...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>010130</td>
      <td>Asses; live</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
categories_dict = df_categories.to_dict(orient='records')

In [4]:
with open('hs_categories_classification.json', 'w') as file:
    json.dump(categories_dict, file, indent=4)

In [5]:
df_products = pd.read_csv('hs_products_classification.csv', delimiter=';', dtype=str)
df_products.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>code</th>
      <th>short_description</th>
      <th>long_description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01012110</td>
      <td>Live pure-bred breeding  horses of Arabian  breed</td>
      <td>Live pure-bred breeding  horses of Arabian  breed</td>
    </tr>
    <tr>
      <th>1</th>
      <td>01012190</td>
      <td>Other live pure-bred breeding horses other tha...</td>
      <td>Other live pure-bred breeding horses other tha...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>01012910</td>
      <td>Live sport horses other than pur- bred breedin...</td>
      <td>Live sport horses other than pur- bred breedin...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>01012920</td>
      <td>live  ponies other than pure- bred breeding an...</td>
      <td>live  ponies other than pure- bred breeding an...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>01012990</td>
      <td>Other live horses excluding pure-bred breeding...</td>
      <td>Other live horses excluding pure-bred breeding...</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
products_dict = df_products.to_dict(orient='records')

In [7]:
with open('hs_products_classification.json', 'w') as file:
    json.dump(products_dict, file, indent=4)